 /* styling the body of each page */
 body, html {
  font-family: Arial;
  min-height: 100%;
  min-width: 100%;
}
  p{
    position:relative;
  }
  
  /* styling the form in prediction.html */
  form {
    text-align: center;
    width: 100%;
  } 
  input[type=submit] {
    width : 60%;
    padding: 10px 32px;
    text-decoration: none;
    background-color: #f1f3d9;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
  }
  legend { 
    font-size: 25px;
  }
  .container{
    width:100%;
  }
  /* playing with the style of the navbar */
  .navbar {
    width:100%;
    position: relative;
    background-color: #f1f3d9;
  }
  /* styling the buttons for each page */ 
  .btn {
    border: 2px solid transparent;
    background: olivedrab;
    color: #ffffff;
    font-size: 30px;
    line-height: 25px;
    padding: 20px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 400px;
    margin: 0 auto;
    position: relative;
   }
   
   h1 {
    position: relative;  
    line-height: 0.9;
    text-align: center;
  }

  .btn:hover {
    background-color: darkolivegreen;
  }

  /* background image */
  .hero-image { 
	
    height: 100%;

    position: relative; 
    
    background-image: url(/static/images/wine-background.jpg);
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.8);
}
 