{% extends "layout.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Our Team...</h1><br>
	</div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
	<div class="col">
		<div class="card border-dark h-100">
			<img src="/static/images/about/SebastianEcheverry.PNG" class="img-thumbnail" class="card-img-top" alt="..."
				width="105" height="115">
			<div class="card-body">
				<h5 class="card-title">Sebastian Echeverry</h5>
				<p class="card-text">Unity Developer at NexTech AR Solutions </p>
				<p class="card-text" style="font-style: italic;">Sebastien comes from an art and design
					background but has
					transitioned into a software development role, working to balance solid principles with
					functional programming.</p>
				<a href="https://github.com/uno-sebastian" class="card-link">GitHub
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
					viewBox="0 0 16 16">
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
				</svg></a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card border-dark h-100">
			<img src="/static/images/about/GiadaInnocenti.PNG" class="img-thumbnail" class="card-img-top" alt="..."
				width="105" height="118">
			<div class="card-body">
				<h5 class="card-title">Giada Innocenti</h5>
				<p class="card-text">Postdoctoral Fellow @ Georgia Institute of Technology </p>
				<p class="card-text" style="font-style: italic;">Giada has a PhD in industrial chemistry
					and she is researching how to improve the sustainability of industrial chemical processes.
					She has always been data-driven and passionate about data analysis.</p>
				<a href="https://github.com/giadainnocenti" class="card-link">GitHub
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
					viewBox="0 0 16 16">
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
				</svg></a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card border-dark h-100">
			<img src="/static/images/about/JourdanNorman.PNG" class="img-thumbnail" class="card-img-top"
				alt="Jourdan's pic" width="105" height="118">
			<div class="card-body">
				<h5 class="card-title">Jourdan Norman</h5>
				<p class="card-text">Associate Product Manager at Mohawk Industries Headquarters</p>

				<p class="card-text" style="font-style: italic;">Jourdan is using his educational and
					professional experiences
					to build upon his long term goals in ecological construction and commercial real estate.</p>
				<a href="https://github.com/JNorman97" class="card-link">GitHub
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
					viewBox="0 0 16 16">
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
				</svg></a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card border-dark h-100">
			<img src="/static/images/about/AmyLouiseLang.PNG" class="img-thumbnail" class="card-img-top" alt="..."
				width="105" height="115">
			<div class="card-body">
				<h5 class="card-title">Amy Louise Lang</h5>
				<p class="card-text">Senior GIS Analyst at Centers for Disease Control and Prevention (CDC)</p>
				<p class="card-text" style="font-style: italic;">Amy enjoys applying Geographic Information
					System (GIS) methods to address public
					health issues in humanitarian and
					emergency response settings.</p>
				<a href="https://github.com/LangsterGA" class="card-link">GitHub
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
					viewBox="0 0 16 16">
					<path
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
				</svg></a>
			</div>
		</div>
	</div>
</div><br>
<div class="row">
	<div class="col-md-12">
		<h1>The Data...</h1><br>
	</div>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
	<div class="col">
		<div class="card border-light h-100">
			<!-- <img src="..." class="card-img-top" alt="..."> -->
			<div class="card-body">
				<h5 class="card-title">Air Quality Index (AQI)</h5>
				<p class="card-text">The Air Quality chart displays state-level summary data from the
					EPA’s Air Quality Index (AQI) for reporting air quality. This index is an indicator
					of overall outdoor air quality and takes into account measured pollutants:
					Carbon Monoxide (CO), Nitrogen Dioxide (NO2), Ozone, Sulfur Dioxide (SO2),
					Particulate Matter 2.5 (PM 2.5), Particulate Matter 10 (PM 10), and Lead.</p>
				<p class="card-text">This chart depicts the overall AQI average along with the parameters
					that are most impactful on to COPD and asthma. They include, PMs 2.5 & 10, Ozone and
					Sulfur Dioxide (?).</p>
				<p class="card-text">For more information, visit the <a
						href="https://www.epa.gov/outdoor-air-quality-data" class="card-link"> EPA Air Data
						page</a></p>
				<p class="card-text">Link to download source data: <a
						href="https://aqs.epa.gov/aqsweb/documents/data_api.html" class="card-link"> Air Quality
						System (AQS) API
					</a></p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card border-light h-100">
			<div class="card-body">
				<h5 class="card-title">Behavioral Risk Factor Surveillance System (BRFSS)</h5>
				<p class="card-text">The CDC’s Behavioral Risk Factor Surveillance System (BRFSS) collects state
					data about U.S. residents regarding their health-related risk behaviors and events, chronic
					health
					conditions, and use of preventive services. </p>
				<p class="card-text">For our purposes, the data paints the picture of the
					prevalence of diseases most affected by air quality: COPD and asthma. Using responses of two
					questions
					in the survey – we are able chart the prevalence of these two diseases at the state level
					over time.</p><br>
				<p class="card-text">For more information, visit the <a href="https://www.cdc.gov/brfss/"
						class="card-link"> BRFSS
						page</a></p>
				<p class="card-text">Link to download source data: <a
						href="https://chronicdata.cdc.gov/Chronic-Disease-Indicators/U-S-Chronic-Disease-Indicators-Asthma/us8e-ubyj"
						class="card-link"> U.S. Chronic Disease Indicators: Asthma
					</a></p>
			</div>
		</div>
		<br>
	</div>
</div>
{% endblock %}