{% extends "main.html" %}
{% block content %}
{% include "header.html" %} 

<br>
<h1> Exploratory Analysis </h1> 
<br>  
   <div class="row row-cols-1 row-cols-sm g-4"> 
     
        <div class="col">
               <img src="/static/images/Analysis/wine_type_pH.png" alt="img"class="img-thumbnail" class="card-img-top"
               width="800px" height="700px">
          </div>
          <div class='col'>  
               <p style='text-align: center;'>Ridgeline plots</p>
               <p style='text-align: justify;'>This plot allows to look at multiple density plots at once. 
                  The density plots were used to explore the distribution of the physico-chemical variables between different batches of wines (in either color or quality).
                  Specifically, this plot is showing a comparison between red and white wines. The main difference, worth highlighting, is the citric acid density distribution. 
                  Interestingly, the citric acid concentration is peaked around three points (0.05, 0.2, 0.4) while it has a main maximum at 0.3 and a smaller one at 0.4. 
               The <a href='https://wineserver.ucdavis.edu/industry-info/enology/methods-and-techniques/common-chemical-reagents/citric-acid'>citric acid</a>, often times,
                added to increase the acidity, complement a specific flavor or prevent ferric hazes may compromise the quality of wine and favor microbial growth.  </p>
               </div>
   </div>
   <br>
   <h1> Principal Component Analysis (PCA) and K-Nearest Neighboor (kNN) </h1> 
   <br>  
      <div class="row row-cols-1 row-cols-sm g-4">
         <div class="col">
                <img src="/static/images/Analysis/all_PCA_dimension_reduction_quality.png" alt="img"class="img-thumbnail" class="card-img-top"
                width="800px" height="700px">
         </div>
         <div class="col">
               <img src="/static/images/Analysis/all_PCA_dimension_reduction.png" alt="img"class="img-thumbnail" class="card-img-top"
               width="800px" height="700px">
         </div>
      </div>
      <div style='text-align: center;'>
         <p>Principal Component Analysis PCA what is it, what it did for us, kNN</p>
      </div>   
      <br>
      <h1> Confusion Matrix </h1> 
      <br> 
      <div class="row row-cols-1 row-cols-sm g-4">
         <div class="col">
                <img src="/static/images/Analysis/all_confusion.png" alt="img"class="img-thumbnail" class="card-img-top"
                width="900px" height="900px">
         </div> 
         <div class="col">
            <img src="/static/images/Analysis/wines_quality_distribution_bar.png" alt="img" class="img-thumbnail" class="card-img-top"
            width="600px" height="900px" style="position: relative;">
         </div>
      </div>
      <div style='text-align: center;' >
            <p>What is telling you and explain the take home message.</p>
      </div>
            
        
   
{% endblock %}

