{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
	<div class="col-md-12">
                <h1 class="display-4",style='font-size=20px' align='center'>Welcome!</h1>
        </div>
</div>     
<div class="row row-cols-1 row-cols-sm g-4">
        <div class="col">
                <div class="card">
                        <img src="{{url_for('static', filename='images/redwhite.jpg')}}" align="left" class="img-fluid", alt='...s'/>
                </div>
        </div>
        <br>
        <div class="col", align='center'>
                        <p style="white-space: pre; font-family: 'Snell Roundhand'; font-size: 20px;"><em>"The Small Barrel Preserves the best wine"</em> 
<em>Italian saying</em></p>
                                <br>
                        <p style='font-size: 30px;', align='center'>What makes a good wine?</p>
                        <br>
                        <p style='font-size: 25px;', align='left'>Can data science help to discard unfortunate wine batches?</p>
                         <br>
                        <p style='font-size: 25px;', align='right'>What are the most important physico-chemical properties to evaluate quality?</p>
                        <br>
                        <p style='font-size: 25px;', align='justificate'>Hopefully, you'll find the answers to some of the questions you may have in this web-app.
                         If you are here just to test the prediction model go ahead an push the button to start predicting!</p>
                         <br>
                        <a class="btn btn-primary btn-lg" href="{{url_for('prediction')}}" role="button", align='middle'>Predict your wine</a> 
        </div>
</div>                
       
        

{% endblock %}